.container {
  padding: 30px;
  padding-top: 0;
}

.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 auto 20px;
  background-color: #e464f0;
}

.SearchFormButton {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.SearchFormButton:hover {
  opacity: 1;
}

.SearchFormButtonLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchFormInput {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
  background-color: inherit;
}

.SearchFormInput::placeholder {
  font: inherit;
  font-size: 18px;
  color: #fff;
}

.button {
  background-color: #b960bc;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.detailsCardNavList {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navListItem {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 24px;
}

.activeLink {
  color: #bc60b4;
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
}

.castList {
  display: grid;
  max-width: calc(100vw - 35px);
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.castListItem {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.actorImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.imgBack {
  background-position: center;
  background-size: 100px;
  height: 260px;
  background-repeat: no-repeat;
  background-image: url('https://liveinvestgroup.ru/wp-content/themes/liveinvestgroup/images/no_img.jpg');
}
.actorName {
  color: #222222;
  text-align: center;
}

.reviewsList {
  list-style: none;
}
